# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local Qdrant storage
.qdrant/

# Logs
*.log

# OS specific
.DS_Store

# Ignore all files under evaluation/data but keep folder structure
evaluation/data/evaluation/*
!evaluation/data/evaluation/.gitkeep
evaluation/data/llm_answers/*
!evaluation/data/llm_answers/.gitkeep
evaluation/data/qa_pairs/*
!evaluation/data/qa_pairs/.gitkeep
evaluation/data/report/*
!evaluation/data/report/.gitkeep